<!DOCTYPE html>
<html>
  <head>
    <title>Kanye West Quote Fest</title>
    <!-- <link rel="shortcut icon" href="#"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="./public/javascripts/script.js"></script> -->
    
</head>
<body class="container">
  <h1 class="jumbotron text-center"><%= title %></h1>
  <div id="quote">
    <h1><%= JSON.stringify(kanyeQuote) %></h1>
  </div>
    <div id="yeImg">
    <a href="https://ibb.co/GTnNKsV"><img src="https://i.ibb.co/167jDs9/Marantz-Kanye-VMA-Speech.jpg" alt="Marantz-Kanye-VMA-Speech" border="0"></a>
  </div>
    <div class="center">
      <div class="vertical-center">
        <button id="newBtn">Generate Quote</button>
      </div>
    </div> 
      <% if (!audioFile) { %>
        <h3>No audio, click Generate Quote</h3>
        <% } else if (audioFile) { %>
    <h2>Click Play!</h2>
    <% } %>
    <audio id="player" controls autoplay>
      <source src="<%= audioFile %>" type="audio/wav">
    </audio>   
    <script>

      $('#newBtn').on('click', function() {
        // $('#audio').play()
        // $('h3').text('Click this button')
        $(this).addClass('move')
        $(this).text('Pressed!')
        location.reload()
      })

    </script>
    
</body>
</html>
